/*using this to desigin the coins*/
.container{
  max-width: 1200px;
  margin: auto;
  
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #26272b;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  margin: 2rem 1rem;
  padding: .7rem 1rem;
  font-weight: 700;
}

/*Code for the crypto image*/
img {
  max-width: 3%;
  height: auto;
}

/*just testing*/
/*.coin__row {
  
  
}  */

.coin__row:hover{
  transform: scale(1.04);
  transition: .3s ease-in-out;
  cursor: pointer;
}

/*still need to move all the info to the center*/
.coin__symbol{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #26272b;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  margin: 2rem 1rem;
  padding: .7rem 1rem;   
}
