.container__search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6rem;
  position: relative;
}

.container__search-input {
  position: absolute;
  right: 0;
  padding: 0.8rem;
  background-color: inherit;
  border: 2px solid #495a8b;
  border-radius: 1rem;
  font-size: 0.9rem;
  color: #f1f1f1;
}

.container__search-input::placeholder {
  color: #b8b8b8;
}

.container__table {
  width: 100%;
}

.container__table-head {
  display: flex;
  color: #f1f1f1;
  font-weight: 700;
  border-bottom: solid 1px rgb(206, 206, 206);
}

.container__table-row {
  display: flex;
  justify-content: space-between;
  width: 97%;
}

.coin__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f1f1f1;
  padding: 1.6rem;
  box-shadow: 0px 0px 1px 0.8px #313c5d;
  transition: 0.1s all ease-in-out;
  position: relative;
}

.coin__row:hover {
  background-color: #191e2a;
  transition: 0.1s all ease-in-out;
}

.coin__rank {
  position: absolute;
  left: 12.7%;
}

.coin__display {
  display: flex;
  align-items: center;
  position: absolute;
  top: 32%;
  left: 24%;
}

.coin__image {
  height: 32px;
  width: 32px;
  margin-right: 1rem;
}

.coin__symbol {
  text-transform: uppercase;
  color: #f1f1f1;
}

.coin__price {
  position: absolute;
  left: 39.5%;
}

.coin__marketcap {
  position: absolute;
  right: 35.5%;
}

.coin__percent {
  position: absolute;
  top: 35%;
  right: 22.2%;
}

.coin__sparkline {
  position: absolute;
  right: 0.4%;
}

.coin__green {
  color: rgb(36, 193, 37);
}

.coin__red {
  color: rgb(215, 58, 30);
}

.coin__sparkline {
  width: 12rem;
}
