/*using this to desigin the coins*/
.container{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*Code for the crypto image*/
img {
    max-width: 3%;
    height: auto;
}

/*just testing*/
.coin__row {
    align-items: center;
    text-align: center;
}

/*still need to move all the info to the center*/
.coin__symbol{
    display: flex;
    color: white;
    text-indent: 100px;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
}


