.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.4rem;
  margin-bottom: 2.4rem;
}

.navbar__logo {
  margin-right: 0.5rem;
}

.navbar__header {
  color: #f1f1f1;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
