@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/* Just Demo */
#tag_one{
  color: rgb(3, 74, 74);
  text-align: center;
  padding: 20px;
  text-decoration: underline;
}